@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');
.navb{
        font-size: 24px;
        font-family: "Poppins",sans-serif;
        color: rgba(51, 51, 51, 0);
        text-transform: uppercase;
        line-height: 1;
        text-align: left;
        font-size: 24px;
}
.nav-link{
    font-family: "Poppins",sans-serif;
    font-weight: 600;

}
.onepage_theme {
    font-size: 9px;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin-top: 9px;
  }
  
  /* Banner start */

.banner{
    background-image: url(./../images/bg1.png);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

}
.banner .sub-title {
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    color: royalblue;
    margin-bottom: 32px;
    line-height: 1;
    text-transform: uppercase;
    text-align: left;
      
}
.banner .title{
    font-size: 48px;
    font-family: "poppins",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    margin-bottom: 38px;
}
.banner .content{
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    color: #999999;
    margin-bottom: 64px;
}
.banner .btn-primary{
    border-radius: 3px;
    background-color: rgb(0, 142, 214);
    box-shadow: 0px 0px 3px 0px rgba(3, 3, 3, 0.1);
    font-size: 14px;
    font-family: "Poppins",sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    text-transform: uppercase;
    text-align: center;
}
.banner .btn-info{
    border:1px solid #fff;
    border-radius: 3px;
    background-color: rgba(0, 142, 214, 0);
    width: 164px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: "Poppins",sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-left: 26px;
    color: rgb(255, 255, 255);
}

  /* Banner end */


  /* Section heading start */

.section-heading{
    position: relative;
}
.section-heading .subtitle{
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgb(0, 142, 214);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.7;
}
.section-heading .title{
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color:#111;
    line-height: 1.7;
}
.section-heading:before{
    content: '';
    width: 40px;
    height: 5px;
    background: rgb(0, 142, 214);
    position: absolute;
    bottom: -28px;
    left: 46%;
}
.section-heading:after{
    content: '';
    width: 40px;
    height: 5px;
    background: rgb(0, 142, 214);
    position: absolute;
    bottom: -28px;
    left: 50%;
}
.py-70{
    padding-top: 70px;
    padding-bottom: 70px;
}
  /* Section heading End */

    /*  start */

.service{
    padding-top: 73px;
}
.service .subtitle{
        font-size: 24px;
        font-family: "Poppins", sans-serif;
        color: rgb(26, 26, 26);
        line-height: 0.833;
        text-align: center;  
        padding-bottom: 27px;   
}
.service .title{
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: #999999;
        line-height: 1;
        text-align: center;     
}

.beautiful .mockup{
    background-image: url(./../images/mockup\ 2.png);
}

.beautiful .content{
        font-size: 18px;
        font-family: "Poppins", sans-serif;
        color: #999999;
        text-transform: uppercase;
        line-height: 1;
        text-align: left; 
        padding-bottom: 408px;
}

    /*  End */